<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="css/home.css">

  <title>Social Butterfly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- Include the compiled Ratchet CSS -->
  <!--<link href="css/ratchet.css" rel="stylesheet">-->

  <style type="text/css">
  .back-link a {
    color: #4ca340;
    text-decoration: none;
    border-bottom: 1px #4ca340 solid;
  }
  .back-link a:hover,
  .back-link a:focus {
    color: #408536;
    text-decoration: none;
    border-bottom: 1px #408536 solid;
  }
  h1 {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    margin: 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    margin-bottom: 3px;
    background-color:#7DFFC9;
  }
  .entry-header {
    text-align: left;
    margin: 0 auto 50px auto;
    width: 80%;
    max-width: 978px;
    position: relative;
    z-index: 10001;
  }
  #demo-content {
    padding-top: 100px;
  }
  </style>

  <style>

/***********************
  RAISED BUTTONS
  ************************/
  .btn-primary.raised, .btn-danger.raised, .btn-info.raised {
    box-shadow: 0 3px 0 0 #007299;
  }

  .btn-danger.raised {
    box-shadow: 0 3px 0 0 #B01525;
  }

  .btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
  }

/***********************
  CUSTON BTN VALUES
  ************************/

  .btn {
    padding: 24px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .btn-small {
    padding: 15px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
  }

  .btn-primary {
    background: #0099cc;
    color: #ffffff;
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
  }
  .btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
  }

  .list-group li {
    list-style: none;
  }

  </style>

</head>

<div id="pageone">
  <body>

    <br>

    <div id="home-screen-text" class="container" align="center">
      <b><h2>SOCIAL BUTTERFLY</h2></b>
    </div>

    <br>
    <br>

    <div class="container" >
      <ul class="list-group">
        <li>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="panel-info">

                <div class="card card-block">

                  <div class="container" align="center">
                    <div id="home-screen-text" class="container" align="center">
                      <h2>I want to...</h2>
                    </div>
                    <ul>
                      <br>
                      <li>
                        <a href="meetNewPeople">
                          <button type="button" class="btn btn-warning btn-block raised">Challenge Myself</button>
                        </a>
                      </li>
                      <br>
                      <br>
                      <li>
                       <a href="connect">
                        <button type="button" class="btn btn-warning btn-block raised">Keep in Touch <br> with Old Friends</button>
                      </a>
                    </li>
                    <br>
                    <br>

                    {{#each status}}
                    <div align="center" id="{{statusType}}points">
                      <div class="points">
                        <h1> {{points}} points </h1>
                      </div>
                    </div>
                    {{/each}}



                                      <br>
                                          <h4>YOU ARE CURRENTLY AT THE</h4>
                      <h3>SOCIAL NOVICE LEVEL.</h3>
                    <!--
                    <br>
                    <li>
                      <a href="events">
                        <button type="button" class="btn btn-warning btn-block raised">Go to Events</button>
                      </a>
                    </li>
                  -->
                </ul>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="container" align="center">
        <div id="home-screen-text" class="text" style="color: #FFFFFF">

          <div class="container" align="center">
            <a href="/settings">
              <button type="button" class="btn-small btn-lg btn-primary raised pull-left"> SETTINGS </button>
            </a>

            <a href="faq">
              <button type="button" class="btn-small btn-lg btn-info raised pull-right"> HELP & FAQ </button>
            </a>
          </div>

          <br>
          <div class="container" align="center">
            <a href="/">
              <button type="button" class="btn btn-lg btn-small btn-danger btn-block raised"> LOG OUT </button>
            </a>
          </div>

        </div>
      </div>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
      <script src="js/main.js"></script>

      <script type="text/javascript">
        $(document).ready(function() {
          $("#completed-listpoints").addClass("hide");
        });
      </script>

    </body>
  </div>

  </html>
