<!DOCTYPE html>
<html>
<head>
  <title>Social Butterfly | Meet New People</title>
  <!-- Include the compiled Ratchet CSS -->
  <link href="css/ratchet.min.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" href="style.css"
  <!-- Latest compiled and minified JavaScript -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <style>

/***********************
  RAISED BUTTONS
  ************************/
  .btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
  }
  .btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
  }

/***********************
  CUSTON BTN VALUES
  ************************/

  .btn {
    padding: 24px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
  }

  .btn-primary {
    background: #0099cc;
    color: #ffffff;
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
  }
  .btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
  }

  .list-group li {
    list-style: none;
  }

  </style>


</head>

<body style="background-color:#FFC94A">
  <div class="card">
    <br></br>
    <div class="logo" align="center">
      <img src="/images/logo.png" alt="Logo">
      <br></br>
      <img src="/images/title.png" alt="Title" width="250px">
      <br>
      <br>
      Be the social you - one step at a time. 
    </div>

    <div class="card">
     <ul class="table-view">

      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon1">
          <span class="glyphicon glyphicon-lock">
          </span>
        </span>
        <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
      </div>

      <li class="table-view-cell">
        <a class="push-right" href="firstLogin" data-ignore="push">
          Sign in using Google+
        </a>
      </li>
    </ul>
  </div>
  <hr></hr>
  <form action="firstLogin">
    <button class="btn btn-negative btn-block">Log in</button>
  </form>
</div>

<div class="pw" align="center">
  Don't have an account? 
  <a href="signup" style="color: #598EF0" data-ignore="push">
   Sign up here</a> 
 </div>

 <div class="pw" align="center">
  <a href="settings" style="color: #FFFFFF" data-ignore="push">Forgot password?</a> 
</div>

</div>

<!-- Include the compiled Ratchet JS -->
<script src="js/ratchet.min.js"></script>

</body>
</html>
