
<!DOCTYPE html>
<html>

<head>
  <title>Social Butterfly | Meet New People</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Latest compiled and minified CSS -->
  <!-- Optional theme -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Meet</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"><i class="fa fa-user-plus"></i>&nbsp;&nbsp;&nbsp;Meet New People<span class="sr-only"></span></a></li>
          <li><a href="connect"><i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;Connect With Friends</a></li>
          <li><a href="events"><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;Go To Events</a></li>
          <li><a href="settings"><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;Account Settings</a></li>
          <li><a href="faq"><i class="fa fa-question"></i>&nbsp;&nbsp;&nbsp;Help and FAQ</a></li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- /.navbar-collapse -->
  <!--
  <div class="new-goal-button">
    <a href="newActivity" class="btn btn-primary"><i class="fa fa-plus"></i></a>
  </div>
-->

  <div align="center">
    <div class="points">
      <h1> 453 POINTS </h1>
    </div>
  </div>

  <div align="center">
    <p><a onclick="activeClicked()" href="#" id="active-button" class="btn btn-primary btn-md" role="button">Active goals</a> <a onclick="completedClicked()" id="completed-button" href="#" class="btn btn-default btn-md" role="button">Completed</a></p>

  </div>

  <hr></hr>


  <div class="container">
    <!-- TASK ADD Button trigger modal -->
    <button id="add-new-button" class="btn btn-info btn-block" data-toggle="modal" data-target="#myModal">
      <span class="glyphicon glyphicon-plus"></span> Add New Task
    </button>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
          <h2 class="modal-title" id="myModalLabel">New Task</h2>
        </div>

        <!-- START OF TASK ADD MODAL BODY-->

        <div class="modal-body">

          <div class="level-container" align="center">
            <div class="level-title">
              <label>
                <p>Level</p>
              </label>
            </div>

            <form action="meetNewPeople">
              <div class="level-selector" form="levelform">
                <select name="level-difficulty">
                  <option value="0">Easy</option>
                  <option value="1">Medium</option>
                  <option value="2">Hard</option>
                </select>
              </div>

              <br>

              <div class="activity-section">
                <label>
                  <p>Activity</p>
                </label>
                <input type="text" name="ActivityDescription" class="form-control" id="psw" placeholder="Enter new activity">
                <br>
              </div>
          </div>

          <p>
            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Add new task</button>
          </p>
          </form>

        </div>

        <!-- END OF TASK ADD MODAL BODY -->

        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-default pull-left" data-toggle="modal" data-target="#fail-save"> <span class="glyphicon glyphicon-remove"></span> Close</button>
        </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <!--Modal for TASK ADD SUCCESS-->
  <div class="modal fade" id="task-success" tabindex="-1" role="dialog" aria-labelledby="task-success-title" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
          <h3 class="modal-title" id="task-success-title"><span class="glyphicon glyphicon-ok-circle"></span> Success!</h3>
        </div>
        <div class="modal-body">
          <p>Your task has been added successfully.</p>
        </div>

        <!-- End of TASK ADD SUCCESS BODY-->

        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal"> <span class="glyphicon glyphicon-arrow-left"></span> Go back to activities list</button>
        </div>
        </form>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>



  <!--Modal for QUIT W/O SAVING-->
  <div class="modal fade" id="fail-save" tabindex="-1" role="dialog" aria-labelledby="task-success-title" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color:#F2354E">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
          <h3 class="modal-title" id="task-success-title"><span class="glyphicon glyphicon-remove-circle"></span> Wait!</h3>
        </div>
        <div class="modal-body">
          <p>You haven't finished adding your task. If you quit now, all data will be lost.</p>
        </div>

        <!-- End of QUIT W/O SAVING-->

        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal"> <span class="glyphicon glyphicon-arrow-left"></span> YES, go back to activities list</button>

          <button type="button" class="btn btn-primary pull-right" data-dismiss="modal"> <span class="glyphicon glyphicon-arrow-right"></span> NO, continue adding task</button>
        </div>
        </form>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>



  <div class="panel-group" align="center">

      <div id="active-list">


          <div class="panel panel-default">

            <div class="panel-heading">
              <h4 class="panel-title">
          <a data-toggle="collapse" href="#activeEasy">Easy</a>
        </h4>
            </div>
            <div id="activeEasy" class="panel-collapse collapse">
              <div class="easy-sublist">

                  <input type="checkbox" name="easy-list">Say hi to your neighbor</input>
                  <button data-toggle="modal" data-target="#editActivityModal2" class="btn btn-primary"> Edit </button>

                  <div class="modal fade" id="editActivityModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                          <h2 class="modal-title" id="myModalLabel">Edit Task</h2>
                        </div>

                        <!-- START OF TASK ADD MODAL BODY-->

                        <div class="modal-body">

                          <div class="level-container" align="center">
                            <div class="level-title">
                              <label>
                                <p>Level</p>
                              </label>
                            </div>
                            <form action="meetNewPeople">
                              <input type="hidden" name="idVal" value="2">

                              <div class="level-selector" form="levelform">
                                <select name="level-difficulty">
                                  <option value="0">Easy</option>
                                  <option value="1">Medium</option>
                                  <option value="2">Hard</option>
                                </select>
                              </div>

                              <br>

                              <div class="activity-section">
                                <label>
                                  <p>Activity</p>
                                </label>
                                <input type="text" value="Say hi to your neighbor" name="ActivityDescription" class="form-control" placeholder="Enter new activity">
                                <br>
                              </div>
                          </div>

                          <p>
                            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Save Changes</button>
                          </p>
                          </form>

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </div>

                  <button class="btn btn-danger"> Delete </button>
                  <br>

                  <input type="checkbox" name="easy-list">Compliment a stranger</input>
                  <button data-toggle="modal" data-target="#editActivityModal3" class="btn btn-primary"> Edit </button>

                  <div class="modal fade" id="editActivityModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                          <h2 class="modal-title" id="myModalLabel">Edit Task</h2>
                        </div>

                        <!-- START OF TASK ADD MODAL BODY-->

                        <div class="modal-body">

                          <div class="level-container" align="center">
                            <div class="level-title">
                              <label>
                                <p>Level</p>
                              </label>
                            </div>
                            <form action="meetNewPeople">
                              <input type="hidden" name="idVal" value="3">

                              <div class="level-selector" form="levelform">
                                <select name="level-difficulty">
                                  <option value="0">Easy</option>
                                  <option value="1">Medium</option>
                                  <option value="2">Hard</option>
                                </select>
                              </div>

                              <br>

                              <div class="activity-section">
                                <label>
                                  <p>Activity</p>
                                </label>
                                <input type="text" value="Compliment a stranger" name="ActivityDescription" class="form-control" placeholder="Enter new activity">
                                <br>
                              </div>
                          </div>

                          <p>
                            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Save Changes</button>
                          </p>
                          </form>

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </div>

                  <button class="btn btn-danger"> Delete </button>
                  <br>

              </div>
              <!-- Added edit/delete buttons -->
            </div>
          </div>


          <div class="panel panel-default">

            <div class="panel-heading">
              <h4 class="panel-title">
          <a data-toggle="collapse" href="#activeMedium">Medium</a>
        </h4>
            </div>
            <div id="activeMedium" class="panel-collapse collapse">
              <div class="easy-sublist">

                  <input type="checkbox" name="easy-list">Go to a club meeting</input>
                  <button data-toggle="modal" data-target="#editActivityModal4" class="btn btn-primary"> Edit </button>

                  <div class="modal fade" id="editActivityModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                          <h2 class="modal-title" id="myModalLabel">Edit Task</h2>
                        </div>

                        <!-- START OF TASK ADD MODAL BODY-->

                        <div class="modal-body">

                          <div class="level-container" align="center">
                            <div class="level-title">
                              <label>
                                <p>Level</p>
                              </label>
                            </div>
                            <form action="meetNewPeople">
                              <input type="hidden" name="idVal" value="4">

                              <div class="level-selector" form="levelform">
                                <select name="level-difficulty">
                                  <option value="0">Easy</option>
                                  <option value="1">Medium</option>
                                  <option value="2">Hard</option>
                                </select>
                              </div>

                              <br>

                              <div class="activity-section">
                                <label>
                                  <p>Activity</p>
                                </label>
                                <input type="text" value="Go to a club meeting" name="ActivityDescription" class="form-control" placeholder="Enter new activity">
                                <br>
                              </div>
                          </div>

                          <p>
                            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Save Changes</button>
                          </p>
                          </form>

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </div>

                  <button class="btn btn-danger"> Delete </button>
                  <br>

                  <input type="checkbox" name="easy-list">Start a conversation on the bus</input>
                  <button data-toggle="modal" data-target="#editActivityModal5" class="btn btn-primary"> Edit </button>

                  <div class="modal fade" id="editActivityModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                          <h2 class="modal-title" id="myModalLabel">Edit Task</h2>
                        </div>

                        <!-- START OF TASK ADD MODAL BODY-->

                        <div class="modal-body">

                          <div class="level-container" align="center">
                            <div class="level-title">
                              <label>
                                <p>Level</p>
                              </label>
                            </div>
                            <form action="meetNewPeople">
                              <input type="hidden" name="idVal" value="5">

                              <div class="level-selector" form="levelform">
                                <select name="level-difficulty">
                                  <option value="0">Easy</option>
                                  <option value="1">Medium</option>
                                  <option value="2">Hard</option>
                                </select>
                              </div>

                              <br>

                              <div class="activity-section">
                                <label>
                                  <p>Activity</p>
                                </label>
                                <input type="text" value="Start a conversation on the bus" name="ActivityDescription" class="form-control" placeholder="Enter new activity">
                                <br>
                              </div>
                          </div>

                          <p>
                            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Save Changes</button>
                          </p>
                          </form>

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </div>

                  <button class="btn btn-danger"> Delete </button>
                  <br>

                  <input type="checkbox" name="easy-list">Do nothing ever</input>
                  <button data-toggle="modal" data-target="#editActivityModal1" class="btn btn-primary"> Edit </button>

                  <div class="modal fade" id="editActivityModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                          <h2 class="modal-title" id="myModalLabel">Edit Task</h2>
                        </div>

                        <!-- START OF TASK ADD MODAL BODY-->

                        <div class="modal-body">

                          <div class="level-container" align="center">
                            <div class="level-title">
                              <label>
                                <p>Level</p>
                              </label>
                            </div>
                            <form action="meetNewPeople">
                              <input type="hidden" name="idVal" value="1">

                              <div class="level-selector" form="levelform">
                                <select name="level-difficulty">
                                  <option value="0">Easy</option>
                                  <option value="1">Medium</option>
                                  <option value="2">Hard</option>
                                </select>
                              </div>

                              <br>

                              <div class="activity-section">
                                <label>
                                  <p>Activity</p>
                                </label>
                                <input type="text" value="Do nothing ever" name="ActivityDescription" class="form-control" placeholder="Enter new activity">
                                <br>
                              </div>
                          </div>

                          <p>
                            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Save Changes</button>
                          </p>
                          </form>

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </div>

                  <button class="btn btn-danger"> Delete </button>
                  <br>

              </div>
              <!-- Added edit/delete buttons -->
            </div>
          </div>


          <div class="panel panel-default">

            <div class="panel-heading">
              <h4 class="panel-title">
          <a data-toggle="collapse" href="#activeHard">Hard</a>
        </h4>
            </div>
            <div id="activeHard" class="panel-collapse collapse">
              <div class="easy-sublist">

                  <input type="checkbox" name="easy-list">Ask for someone&#x27;s phone number</input>
                  <button data-toggle="modal" data-target="#editActivityModal6" class="btn btn-primary"> Edit </button>

                  <div class="modal fade" id="editActivityModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                          <h2 class="modal-title" id="myModalLabel">Edit Task</h2>
                        </div>

                        <!-- START OF TASK ADD MODAL BODY-->

                        <div class="modal-body">

                          <div class="level-container" align="center">
                            <div class="level-title">
                              <label>
                                <p>Level</p>
                              </label>
                            </div>
                            <form action="meetNewPeople">
                              <input type="hidden" name="idVal" value="6">

                              <div class="level-selector" form="levelform">
                                <select name="level-difficulty">
                                  <option value="0">Easy</option>
                                  <option value="1">Medium</option>
                                  <option value="2">Hard</option>
                                </select>
                              </div>

                              <br>

                              <div class="activity-section">
                                <label>
                                  <p>Activity</p>
                                </label>
                                <input type="text" value="Ask for someone&#x27;s phone number" name="ActivityDescription" class="form-control" placeholder="Enter new activity">
                                <br>
                              </div>
                          </div>

                          <p>
                            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Save Changes</button>
                          </p>
                          </form>

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </div>

                  <button class="btn btn-danger"> Delete </button>
                  <br>

                  <input type="checkbox" name="easy-list">Sing karoake</input>
                  <button data-toggle="modal" data-target="#editActivityModal7" class="btn btn-primary"> Edit </button>

                  <div class="modal fade" id="editActivityModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                          <h2 class="modal-title" id="myModalLabel">Edit Task</h2>
                        </div>

                        <!-- START OF TASK ADD MODAL BODY-->

                        <div class="modal-body">

                          <div class="level-container" align="center">
                            <div class="level-title">
                              <label>
                                <p>Level</p>
                              </label>
                            </div>
                            <form action="meetNewPeople">
                              <input type="hidden" name="idVal" value="7">

                              <div class="level-selector" form="levelform">
                                <select name="level-difficulty">
                                  <option value="0">Easy</option>
                                  <option value="1">Medium</option>
                                  <option value="2">Hard</option>
                                </select>
                              </div>

                              <br>

                              <div class="activity-section">
                                <label>
                                  <p>Activity</p>
                                </label>
                                <input type="text" value="Sing karoake" name="ActivityDescription" class="form-control" placeholder="Enter new activity">
                                <br>
                              </div>
                          </div>

                          <p>
                            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Save Changes</button>
                          </p>
                          </form>

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </div>

                  <button class="btn btn-danger"> Delete </button>
                  <br>

                  <input type="checkbox" name="easy-list">Meet someone new in an unfamiliar place</input>
                  <button data-toggle="modal" data-target="#editActivityModal8" class="btn btn-primary"> Edit </button>

                  <div class="modal fade" id="editActivityModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                          <h2 class="modal-title" id="myModalLabel">Edit Task</h2>
                        </div>

                        <!-- START OF TASK ADD MODAL BODY-->

                        <div class="modal-body">

                          <div class="level-container" align="center">
                            <div class="level-title">
                              <label>
                                <p>Level</p>
                              </label>
                            </div>
                            <form action="meetNewPeople">
                              <input type="hidden" name="idVal" value="8">

                              <div class="level-selector" form="levelform">
                                <select name="level-difficulty">
                                  <option value="0">Easy</option>
                                  <option value="1">Medium</option>
                                  <option value="2">Hard</option>
                                </select>
                              </div>

                              <br>

                              <div class="activity-section">
                                <label>
                                  <p>Activity</p>
                                </label>
                                <input type="text" value="Meet someone new in an unfamiliar place" name="ActivityDescription" class="form-control" placeholder="Enter new activity">
                                <br>
                              </div>
                          </div>

                          <p>
                            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Save Changes</button>
                          </p>
                          </form>

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </div>

                  <button class="btn btn-danger"> Delete </button>
                  <br>

              </div>
              <!-- Added edit/delete buttons -->
            </div>
          </div>

      </div>

      <div id="completed-list">


          <div class="panel panel-default">

            <div class="panel-heading">
              <h4 class="panel-title">
          <a data-toggle="collapse" href="#completedEasy">Easy</a>
        </h4>
            </div>
            <div id="completedEasy" class="panel-collapse collapse">
              <div class="easy-sublist">

                  <input type="checkbox" name="easy-list">Say Thank you to the bus driver as you get off from the back</input>
                  <button data-toggle="modal" data-target="#editActivityModal9" class="btn btn-primary"> Edit </button>

                  <div class="modal fade" id="editActivityModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                          <h2 class="modal-title" id="myModalLabel">Edit Task</h2>
                        </div>

                        <!-- START OF TASK ADD MODAL BODY-->

                        <div class="modal-body">

                          <div class="level-container" align="center">
                            <div class="level-title">
                              <label>
                                <p>Level</p>
                              </label>
                            </div>
                            <form action="meetNewPeople">
                              <input type="hidden" name="idVal" value="9">

                              <div class="level-selector" form="levelform">
                                <select name="level-difficulty">
                                  <option value="0">Easy</option>
                                  <option value="1">Medium</option>
                                  <option value="2">Hard</option>
                                </select>
                              </div>

                              <br>

                              <div class="activity-section">
                                <label>
                                  <p>Activity</p>
                                </label>
                                <input type="text" value="Say Thank you to the bus driver as you get off from the back" name="ActivityDescription" class="form-control" placeholder="Enter new activity">
                                <br>
                              </div>
                          </div>

                          <p>
                            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Save Changes</button>
                          </p>
                          </form>

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </div>

                  <button class="btn btn-danger"> Delete </button>
                  <br>

                  <input type="checkbox" name="easy-list">Ask to borrow a pencil</input>
                  <button data-toggle="modal" data-target="#editActivityModal10" class="btn btn-primary"> Edit </button>

                  <div class="modal fade" id="editActivityModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                          <h2 class="modal-title" id="myModalLabel">Edit Task</h2>
                        </div>

                        <!-- START OF TASK ADD MODAL BODY-->

                        <div class="modal-body">

                          <div class="level-container" align="center">
                            <div class="level-title">
                              <label>
                                <p>Level</p>
                              </label>
                            </div>
                            <form action="meetNewPeople">
                              <input type="hidden" name="idVal" value="10">

                              <div class="level-selector" form="levelform">
                                <select name="level-difficulty">
                                  <option value="0">Easy</option>
                                  <option value="1">Medium</option>
                                  <option value="2">Hard</option>
                                </select>
                              </div>

                              <br>

                              <div class="activity-section">
                                <label>
                                  <p>Activity</p>
                                </label>
                                <input type="text" value="Ask to borrow a pencil" name="ActivityDescription" class="form-control" placeholder="Enter new activity">
                                <br>
                              </div>
                          </div>

                          <p>
                            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Save Changes</button>
                          </p>
                          </form>

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </div>

                  <button class="btn btn-danger"> Delete </button>
                  <br>

                  <input type="checkbox" name="easy-list">Sit next to someone different in class</input>
                  <button data-toggle="modal" data-target="#editActivityModal11" class="btn btn-primary"> Edit </button>

                  <div class="modal fade" id="editActivityModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                          <h2 class="modal-title" id="myModalLabel">Edit Task</h2>
                        </div>

                        <!-- START OF TASK ADD MODAL BODY-->

                        <div class="modal-body">

                          <div class="level-container" align="center">
                            <div class="level-title">
                              <label>
                                <p>Level</p>
                              </label>
                            </div>
                            <form action="meetNewPeople">
                              <input type="hidden" name="idVal" value="11">

                              <div class="level-selector" form="levelform">
                                <select name="level-difficulty">
                                  <option value="0">Easy</option>
                                  <option value="1">Medium</option>
                                  <option value="2">Hard</option>
                                </select>
                              </div>

                              <br>

                              <div class="activity-section">
                                <label>
                                  <p>Activity</p>
                                </label>
                                <input type="text" value="Sit next to someone different in class" name="ActivityDescription" class="form-control" placeholder="Enter new activity">
                                <br>
                              </div>
                          </div>

                          <p>
                            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Save Changes</button>
                          </p>
                          </form>

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </div>

                  <button class="btn btn-danger"> Delete </button>
                  <br>

              </div>
              <!-- Added edit/delete buttons -->
            </div>
          </div>


          <div class="panel panel-default">

            <div class="panel-heading">
              <h4 class="panel-title">
          <a data-toggle="collapse" href="#completedMedium">Medium</a>
        </h4>
            </div>
            <div id="completedMedium" class="panel-collapse collapse">
              <div class="easy-sublist">

                  <input type="checkbox" name="easy-list">Go to professor&#x27;s office hours</input>
                  <button data-toggle="modal" data-target="#editActivityModal12" class="btn btn-primary"> Edit </button>

                  <div class="modal fade" id="editActivityModal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                          <h2 class="modal-title" id="myModalLabel">Edit Task</h2>
                        </div>

                        <!-- START OF TASK ADD MODAL BODY-->

                        <div class="modal-body">

                          <div class="level-container" align="center">
                            <div class="level-title">
                              <label>
                                <p>Level</p>
                              </label>
                            </div>
                            <form action="meetNewPeople">
                              <input type="hidden" name="idVal" value="12">

                              <div class="level-selector" form="levelform">
                                <select name="level-difficulty">
                                  <option value="0">Easy</option>
                                  <option value="1">Medium</option>
                                  <option value="2">Hard</option>
                                </select>
                              </div>

                              <br>

                              <div class="activity-section">
                                <label>
                                  <p>Activity</p>
                                </label>
                                <input type="text" value="Go to professor&#x27;s office hours" name="ActivityDescription" class="form-control" placeholder="Enter new activity">
                                <br>
                              </div>
                          </div>

                          <p>
                            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Save Changes</button>
                          </p>
                          </form>

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </div>

                  <button class="btn btn-danger"> Delete </button>
                  <br>

                  <input type="checkbox" name="easy-list">Buy a new friend a cup of coffee</input>
                  <button data-toggle="modal" data-target="#editActivityModal13" class="btn btn-primary"> Edit </button>

                  <div class="modal fade" id="editActivityModal13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                          <h2 class="modal-title" id="myModalLabel">Edit Task</h2>
                        </div>

                        <!-- START OF TASK ADD MODAL BODY-->

                        <div class="modal-body">

                          <div class="level-container" align="center">
                            <div class="level-title">
                              <label>
                                <p>Level</p>
                              </label>
                            </div>
                            <form action="meetNewPeople">
                              <input type="hidden" name="idVal" value="13">

                              <div class="level-selector" form="levelform">
                                <select name="level-difficulty">
                                  <option value="0">Easy</option>
                                  <option value="1">Medium</option>
                                  <option value="2">Hard</option>
                                </select>
                              </div>

                              <br>

                              <div class="activity-section">
                                <label>
                                  <p>Activity</p>
                                </label>
                                <input type="text" value="Buy a new friend a cup of coffee" name="ActivityDescription" class="form-control" placeholder="Enter new activity">
                                <br>
                              </div>
                          </div>

                          <p>
                            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Save Changes</button>
                          </p>
                          </form>

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </div>

                  <button class="btn btn-danger"> Delete </button>
                  <br>

                  <input type="checkbox" name="easy-list">Add a friend on social media</input>
                  <button data-toggle="modal" data-target="#editActivityModal14" class="btn btn-primary"> Edit </button>

                  <div class="modal fade" id="editActivityModal14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                          <h2 class="modal-title" id="myModalLabel">Edit Task</h2>
                        </div>

                        <!-- START OF TASK ADD MODAL BODY-->

                        <div class="modal-body">

                          <div class="level-container" align="center">
                            <div class="level-title">
                              <label>
                                <p>Level</p>
                              </label>
                            </div>
                            <form action="meetNewPeople">
                              <input type="hidden" name="idVal" value="14">

                              <div class="level-selector" form="levelform">
                                <select name="level-difficulty">
                                  <option value="0">Easy</option>
                                  <option value="1">Medium</option>
                                  <option value="2">Hard</option>
                                </select>
                              </div>

                              <br>

                              <div class="activity-section">
                                <label>
                                  <p>Activity</p>
                                </label>
                                <input type="text" value="Add a friend on social media" name="ActivityDescription" class="form-control" placeholder="Enter new activity">
                                <br>
                              </div>
                          </div>

                          <p>
                            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Save Changes</button>
                          </p>
                          </form>

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </div>

                  <button class="btn btn-danger"> Delete </button>
                  <br>

              </div>
              <!-- Added edit/delete buttons -->
            </div>
          </div>


          <div class="panel panel-default">

            <div class="panel-heading">
              <h4 class="panel-title">
          <a data-toggle="collapse" href="#completedHard">Hard</a>
        </h4>
            </div>
            <div id="completedHard" class="panel-collapse collapse">
              <div class="easy-sublist">

                  <input type="checkbox" name="easy-list">Go to a house party</input>
                  <button data-toggle="modal" data-target="#editActivityModal15" class="btn btn-primary"> Edit </button>

                  <div class="modal fade" id="editActivityModal15" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                          <h2 class="modal-title" id="myModalLabel">Edit Task</h2>
                        </div>

                        <!-- START OF TASK ADD MODAL BODY-->

                        <div class="modal-body">

                          <div class="level-container" align="center">
                            <div class="level-title">
                              <label>
                                <p>Level</p>
                              </label>
                            </div>
                            <form action="meetNewPeople">
                              <input type="hidden" name="idVal" value="15">

                              <div class="level-selector" form="levelform">
                                <select name="level-difficulty">
                                  <option value="0">Easy</option>
                                  <option value="1">Medium</option>
                                  <option value="2">Hard</option>
                                </select>
                              </div>

                              <br>

                              <div class="activity-section">
                                <label>
                                  <p>Activity</p>
                                </label>
                                <input type="text" value="Go to a house party" name="ActivityDescription" class="form-control" placeholder="Enter new activity">
                                <br>
                              </div>
                          </div>

                          <p>
                            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Save Changes</button>
                          </p>
                          </form>

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </div>

                  <button class="btn btn-danger"> Delete </button>
                  <br>

                  <input type="checkbox" name="easy-list">Get rejected</input>
                  <button data-toggle="modal" data-target="#editActivityModal16" class="btn btn-primary"> Edit </button>

                  <div class="modal fade" id="editActivityModal16" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                          <h2 class="modal-title" id="myModalLabel">Edit Task</h2>
                        </div>

                        <!-- START OF TASK ADD MODAL BODY-->

                        <div class="modal-body">

                          <div class="level-container" align="center">
                            <div class="level-title">
                              <label>
                                <p>Level</p>
                              </label>
                            </div>
                            <form action="meetNewPeople">
                              <input type="hidden" name="idVal" value="16">

                              <div class="level-selector" form="levelform">
                                <select name="level-difficulty">
                                  <option value="0">Easy</option>
                                  <option value="1">Medium</option>
                                  <option value="2">Hard</option>
                                </select>
                              </div>

                              <br>

                              <div class="activity-section">
                                <label>
                                  <p>Activity</p>
                                </label>
                                <input type="text" value="Get rejected" name="ActivityDescription" class="form-control" placeholder="Enter new activity">
                                <br>
                              </div>
                          </div>

                          <p>
                            <button type="submit" href="#" data-toggle="modal" data-target="#task-success" class="btn btn-info btn-block"><span class="glyphicon glyphicon-plus"></span> Save Changes</button>
                          </p>
                          </form>

                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </div>

                  <button class="btn btn-danger"> Delete </button>
                  <br>

              </div>
              <!-- Added edit/delete buttons -->
            </div>
          </div>

      </div>


  </div>




  <script type="text/javascript">
    // For ADDING NEW TASK-->
    var curList = 0;

    $(document).ready(function() {
      $("#completed-list").addClass("list-hide");

      $("#myBtn").click(function() {
        $("#myNewActivity").modal();
      });
    });

    // for SUCCESSFULLY ADDING TASK -->
    $('#btnCancel').click(function() {
      $('#task-success').modal('toggle');
    });

    function completedClicked() {
      if (curList === 0) {
        curList = 1;
        $("#active-list").addClass("list-hide");
        $("#completed-list").removeClass("list-hide");
        $("#active-button").removeClass("btn-primary");
        $("#completed-button").addClass("btn-primary");
        $("#add-new-button").addClass("list-hide");
        //document.getElementById("completed-list").classList.remove("list-hide");
      }




    }

    function activeClicked() {


      if (curList === 1) {
        curList = 0;
        $("#active-list").removeClass("list-hide");
        $("#completed-list").addClass("list-hide");
        $("#active-button").addClass("btn-primary");
        $("#completed-button").removeClass("btn-primary");
        $("#add-new-button").removeClass("list-hide");
      }


    }
  </script>

</body>
