<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="onboarding.css">
	
	<title>Social Butterfly</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="css/main.css">

	  <!--<link rel="stylesheet" href="css/normalize.css">-->
  <link rel="stylesheet" href="css/main.css">

	<style>

/***********************
  RAISED BUTTONS
  ************************/
  .btn-primary.raised {
  	box-shadow: 0 3px 0 0 #007299;
  }
  .btn-primary.raised:active, .btn-primary.raised.active {
  	background: #33a6cc;
  	box-shadow: none;
  	margin-bottom: -3px;
  	margin-top: 3px;
  }

/***********************
  CUSTON BTN VALUES
  ************************/

  .btn {
  	padding: 24px 24px;
  	border: 0 none;
  	font-weight: 700;
  	letter-spacing: 1px;
  	text-transform: uppercase;
  }
  .btn:focus, .btn:active:focus, .btn.active:focus {
  	outline: 0 none;
  }

  .btn-primary {
  	background: #0099cc;
  	color: #ffffff;
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  	background: #33a6cc;
  }
  .btn-primary:active, .btn-primary.active {
  	background: #007299;
  	box-shadow: none;
  }

  .list-group li {
  	list-style: none;
  }
  .main-header, .main-body, .close {
  	background-color: #F2354E;
  	color:white !important;
  	text-align: center;
  	font-size: 20px;
  }

  </style>

</head>

<body style="background-color:#FFC94A">

	<div id="home-screen-text" class="container-fluid" align="center">
		<div class="main-header">
			<h1>GOOD JOB!</h1> </span>
		</div>

		<h3><b>Now that you have finished the quiz,</b> you can decide how you want to start achieving your social goals.

		</div>

		<br>

		<div class="container" >
			<ul class="list-group">
				<li>
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="panel-info">

								<div class="card card-block">
									<div id="home-screen-text" class="container-fluid" align="center">
										<h2>To help you out, we've already added some goal <i>suggestions </i>to help challenge yourself.</h2>
									</div>

									<br>

									<br>

									<div class="container" align="center">
										<a href="index">
											<button type="button" class="btn btn-primary btn-block raised"> GET STARTED </button>
										</a>
									</div>
									<div align="center" style="color: #000000">
										<br>
										<a href="quizOne">
											<h4> NO, go back to quiz </h4>
										</a>
									</div>
								</form>
								<br>

							</div>
						</div>

					</div>

				</div>
			</div>
			<div align="center">
				<a href="/">
					<h4> LOG OUT </h4>
				</a>
			</div> 
		</div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
	<script src="js/main.js"></script>

</body>
</div>

</html>
